.botao {
    background-color: #FAAB78;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 28px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
}

.botao:hover {
    color: #F94A29;
    transition: .5s;
}